.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number {
  font-size: 20px;
  color: #f9f9f9;
}

.name {
  font-size: 25px;
  color: #f9f9f9;
}

.icon {
  margin-right: 10px;
  color: #f9f9f9;
}

.btn {
  height: 30px;
  padding: 5px 0px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  margin-right: 5px;
  width: 100px;
}
