.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgba(12, 125, 125, 0.3);
  font-size: 24px;
  font-weight: 700;
  color: azure;
}

.list {
  display: flex;
  gap: 20px;
}

.exitBtn {
  border-radius: 5px;
  padding: 5px 25px;
  background: rgba(117, 240, 246, 0.664);
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  &:hover {
    background-color: rgb(243, 238, 240);
  }
}

.link {
  text-decoration: none;
  color: rgb(117, 240, 246);
  &:hover {
    color: rgb(243, 238, 240);
  }
}

.active {
  color: rgb(243, 238, 240);
}
