:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1e1f1f;
  background-image: url("/public/img/fog.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/public/img/fog.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}
