.list {
  display: flex;
  gap: 15px;
  max-width: 1440px;
  flex-wrap: wrap;
}

.item {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10;
  width: 400px;
  height: 80px;
  background-color: rgba(12, 125, 125, 0.3);
}
.empty {
  margin: 0 auto;
  color: rgb(117, 240, 246);
}
